<header>
<div class="column">
  <div class="column01">
    <span>GIFT CARDS</span>
    <span>FIND A STORE</span>
    <span>BECOME A MEMBER</span>
    <span>NIKE X NBA</span>
    <span>NIKE JOURNAL</span>
    <span>SEND US FEEDBACK</span>
  </div>
  <div class="column02">
    <span>GET HELP</span>
    <a>Order Status</a>
    <a>Shipping and Delivery</a>
    <a>Returns</a>
    <a>Order Cancellation</a>
    <a>Payment Options</a>
    <a>Gift Card Balance</a>
    <a>Contact Us</a>
  </div>
  <div class="column03">
    <span>ABOUT NIKE</span>
    <a>News</a>
    <a>Careers</a>
    <a>Investors</a>
    <a>Purpose</a>
    <a>Sustainability</a>
  </div>
  <div class="column04">
    <span>PROMOTIONS & DISCOUNTS</span>
    <a>Students</a>
    <a>Military</a>
    <a>Teacher</a>
    <a>Frist Responders & Medical Professionals</a>
    <a>Birthday</a>
  </div>
</div>
</header>
