<div>
<div class="menu">
    <div  class="menulogo" ><i class="fa-brands fa-shoelace"></i></div>
    <span class="menuInNavbar">
      <span class="login">Find & Store</span>
                      <span >|</span>
      <span >Help</span>
                      <span >|</span>
      <span >Join Us</span>
                      <span >|</span>
      <span >Sign in</span>
      </span>
  </div>

<!--<header>-->
  <div class="wrapperInNavbar">
    <a  class="logo" (click)="goToList()">Nike</a>
      <span class="mainInNavbar">
        <b><a >New & Featured</a>
        <a > Men </a>
        <a > Women </a>
        <a > Accessories </a>
        <a > Sale </a></b>
      </span>
    <div class="icon">
     <div class="find"><div class="search"><i class="fa-solid fa-magnifying-glass" ></i><p>  Search</p></div></div>
      <div>
      <div class="cart01" (click)="goToCart()"><i class="fa-solid fa-cart-plus"></i></div>
      </div>
<!--      <tui-icon-->
<!--        icon="tuiIconShoppingCart"-->
<!--        [style.color]="'var(&#45;&#45;tui-primary)'"-->
<!--      ></tui-icon>-->

      <div class="cart" (click)="goToAdmin()"><i class="fa-solid fa-user-plus"></i></div>
    </div>
  </div>
</div>




<div>
  <div class="new"> <b>New Bras & Leggings</b></div>
  <div class="favorite"><b>FIND YOUR FEEL</b></div>
  <div class="locked">From locked-in support to the softest feel, Nike bras & leggings are your essential foundation</div>
</div>


