<div class="mainnavbar">

  <form [formGroup]="form" >
    <div class="upnavbar">
      <label>Name:  </label>
      <input type="text" id="name" placeholder="enter name"
             formControlName="name"/>
      <div> <label>price:  </label>
        <input type="number" id="price" placeholder="enter price"
               formControlName="price"/>
      </div>
      <label>description:  </label>

      <input type="text" id="description" placeholder="enter description"
             formControlName="description"/>
      <div><label>quality:  </label>

        <input type="number" id="quality" placeholder="enter stock"
               formControlName="stock"/>
      </div>
      <div class="linknavbar" >
        <label>link:</label>
        <input type="text" id="image" placeholder="enter image"
               formControlName="image"/>
      </div>
      <div class="clicknavbar0">
        <div class="clicknavbar">
          <button type="submit" >Submit</button>
        </div>

        <div class="clicknavbar01">
          <button type="submit" >closed</button>
        </div>
      </div>
    </div>
  </form>
</div>
