<div class="col">
  @for(item of this.productService.listItemInCart; track  item.id){
<div class="card">
  <img class="card-img-top"
       src="{{item.image}}"
       alt="Card image cap">
  <div class="card-block">
    <p class="card-title"><b>Name: {{item.name}}</b></p>
    <p class="card-text">Price:  ${{item.price}}</p>
    <p class="card-title"><span>Description: {{item.description}}</span></p>
    <p class="card-title"><span>Quantity: {{item.quality}}</span></p>
    <p class="card-title"><span>Stock: {{item.stock}}</span></p>
  </div>
</div>
  }

  <p>total: {{totalBill()}}</p>
</div>
