.main{
  display: flex;
  justify-content: space-between;

}
.main .PickUp{
  display: flex;
  flex-direction: column;
}
.PickUp b{
  margin-bottom: 20px;
  margin-left: 30px;
}

.card {
  margin-bottom: 20px;
}
//.card.
.card-img-top {
  width: 300px;
  height: 300px;
  align-self: center;
  cursor: pointer;
}
.col{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card-block{
  font-size: 20px;

}
.card-block p{
  display: flex;
  margin-bottom: 1px;
  margin: 10px;
}
.card-block p.card-title{
  color: #262626;
  cursor: pointer;
}
.card-text{
  color: chocolate;
  cursor: pointer;
}
.card-block span{
  color: grey;
  cursor: pointer;
}
.card{

}
//.show-cart li {
//  display: flex;
//}
.gifts{
  display: flex;
  font-size: 15px;
  margin-left: 30px;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  align-items: center;
}
.finded{
  display: flex;
  justify-content: space-between;
font-size: 15px;
  width: 200px;
  flex-direction: row;
  margin-right: 80px;
}

