<div class="gifts">
  <b> Valentine's Day Gifts (345)</b>
  <div class="finded">
    <p>Hide Filters <i class="fa-solid fa-list"></i></p>
    <p>Sort By <i class="fa-solid fa-angle-down"></i></p>
  </div>
</div>
<div class="main">
<div class="PickUp">
  <b>Shoes</b>
  <b>Hoodies & Pullovers</b>
  <b>Jackets & Vests</b>
  <b>Pants & Tights</b>
  <b>Shorts</b>
  <b>Tights & Leggings</b>
  <b>Sports Bras</b>
  <b>Jordan</b>
</div>
  <div class="productList">
<div class="col">
  @for (item of this.productservice.listItem;track item.id){
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" (click)="addToDetail(item)"
           src="{{item.image}}"
           alt="Card image cap">
      <div class="card-block">
        <p class="card-title"><b>Name: {{item.name}}</b></p>
        <p class="card-text">Price:  ${{item.price}}</p>
        <p class="card-title"><span>Description: {{item.description}}</span></p>
        <p class="card-title"><span>Quality: {{item.quality}}</span></p>
        <p class="card-title"><span>Stock: {{item.stock}}</span></p>
      </div>
    </div>
  }
</div>
</div>
</div>
