<div class="mainDetails">
  <div class="cardDetails" >
<div class="card-img">
    <img class="card-imgDetails"
         src="{{itemDetail?.image}}"
         alt="Card image cap">
</div>
    <div class="card-b">
      <div class="a">
      <span class="viewer"><i class="fa-regular fa-eye"></i> 2,351 viewed in the last 7 days</span>
      <a class="cardText"> Sustainable Materials</a>
      </div>
      <p class="card-t"><b> {{itemDetail?.name}}</b></p>
<!--      <p class="cardText"> {{itemDetail?.price}}</p>-->
      <p class="card-favo"> {{itemDetail?.description}}</p>
<!--      <p class="card-t">{{itemDetail?.quality}}</p>-->
      <p class="card-t">${{itemDetail?.stock}} <span>Sale off 39%</span></p>
<!--      <button (click)="addProductToCart(item)">ADD</button>-->
      <div class="change">
        <img src="https://static.nike.com/a/images/t_PDP_144_v1/f_auto/a93045f0-a70e-4a6a-82df-ead00e15fe6b/wio-10-womens-road-running-shoes-TVcjsT.png">
        <img src="https://static.nike.com/a/images/t_PDP_144_v1/f_auto/6c4dd6f9-bd98-4cb5-a702-1178a2827005/wio-10-womens-road-running-shoes-TVcjsT.png">
        <img src="https://static.nike.com/a/images/t_PDP_144_v1/f_auto/681efac5-be18-4a0a-9e14-ba650a798730/wio-10-womens-road-running-shoes-TVcjsT.png">
        <img src="https://static.nike.com/a/images/t_PDP_144_v1/f_auto/a621a7f3-7d00-4db3-acdf-eac0ddcde77b/wio-10-womens-road-running-shoes-TVcjsT.png">
      </div>
      <div class="cartSize">
        <b>Select Size</b>
        <p>Size Guide</p>
      </div>
      <div class="row1">
        <button> 5</button>
        <button> 5.5</button>
        <button> 6</button>
        <button> 6.5</button>
        <button> 7</button>
      </div>
      <div class="row2">
        <button> 7.5</button>
        <button> 8</button>
        <button> 8.5</button>
        <button> 9</button>
        <button> 9.5</button>
      </div>
      <div class="row3">
        <button> 10</button>
        <button> 11.5</button>
        <button> 12</button>
        <button> 12.5</button>
        <button> 13</button>
      </div>
      <div class="Learn">
      <span class="interest">4 interest-free payments of $26.25 with</span>
        <div class="More">
        <span ><b>Klarna.</b> </span>
        <a href="#" class="Home">Learn More</a>
        </div>
      </div>
      <div class="goToCart">
        <button (click)="addtocart(itemDetail)" class="addToBag"> Add to Bag</button>
        <button class="heart"> Favorite <i class="fa-regular fa-heart"></i></button>
      </div>
      <div class="shipping">
        <div class="na">
        <b>Shipping</b>
        <span>You'll see our shipping options at checkout</span>
        </div>
        <div class="me">
          <p>Free Pickup</p>
        <a href="#">Find a Store</a>
        </div>
        </div>
      <div class="available">Available for click and collect at checkout
      </div>
      <div class="with">
        <div class="comment">Even Legends find ways to evolve. Made to take</div>
        <div class="comment">your game to the next level, the latest iteration of</div>
        <div class="comment">these Academy shoes has all-new FlyTouch Lite</div>
        <div class="comment">engineered leather. Softer than natural leather</div>
        <div class="comment">and double-layered with mesh, it conforms to</div>
        <div class="comment">your foot, adds breathability and doesn't</div>
        <div class="comment">overstretch, so you can play with comfort and</div>
        <div class="comment">dictate the pace of your game. Lighter and</div>
        <div class="comment">sleeker than any other Tiempo to date, the</div>
        <div class="comment">Legend 10 is for any position on the field, whether</div>
        <div class="comment">you're sending a pinpoint pass through the</div>
        <div class="comment">defense or tracking back to stop a breakaway.</div>
      </div>
      <div class="lookdetails" >View Product Details</div>
    </div>

</div>
</div>
