.mainDetails{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 50px;

  .cardDetails{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 50px;


    //align-items: center;

    .card-img{
      width: 500px;
      height: 500px;

      .card-imgDetails{
        border-radius: 10px;
        width: 100%;
        height: 100%;

      }
    }
  }
  .card-block .card-b .card-t b{
    color: #262626;
    cursor: pointer;
  }
}
.card-b{

}
.cardText{
  color: chocolate;
  cursor: pointer;
}
.card-b{
  font-size: 20px;
}
.card-favo{
  margin-top: -13px;
}
.card-t span{
  color: green;
  margin-left: 20px;
}
.change img{
  width:  90px;
  height: 90px;
  margin-left: 10px;
  cursor: pointer;
}
.change{
  display: flex;
  flex-direction: row;
}
.card-b .a{
  display: flex;
  flex-direction: column;
}
.viewer{
  margin-bottom: 10px;
}
.card-b .cartSize{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.card-b .row1{
  display: flex;
  flex-direction: row;

}
.row1 button{
  width: 70px;
  height: 45px;
  margin-bottom: 10px;
  margin-left: 5px;
  background-color: white;
  border: grey solid 1px;
  border-radius: 10px;
}
.card-b .row2{
  display: flex;
  flex-direction: row;

}
.row2 button{
  width: 70px;
  height: 45px;
  margin-bottom: 10px;
  margin-left: 5px;
  background-color: white;
  border: grey solid 1px;
  border-radius: 10px;
  cursor: pointer;
}
.card-b .row3{
   display: flex;
   flex-direction: row;

 }
.row3 button{
  width: 70px;
  height: 45px;
  margin-bottom: 10px;
  margin-left: 5px;
  background-color: white;
  border: grey solid 1px;
  border-radius: 10px;
  cursor: pointer;
}
.row1 button:hover{
  background-color: #f5f5f5;
  border: black solid 1px;
  cursor: pointer;
}
.Learn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.interest{
  margin-bottom: 5px;
}
.More{
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}
.interest b{
  display: flex;

}
.interest .Home{
color: chocolate;
  display: flex;
}
.goToCart{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.addToBag{
  margin-bottom: 10px;
  margin-top: 20px;
  height: 50px;
  border-radius: 50px;
  background-color: black;
  color: white;
  border: grey solid 1px;
  font-size: 15px;
  cursor: pointer;

}
.heart{
  height: 50px;
  border-radius: 50px;
  border: grey solid 1px;
background-color: white;
  font-size: 15px;
  cursor: pointer;

}
.Home{
  color: #3e3e3e;
}
.addToBag:hover{
  background-color: grey;

}
.heart:hover{
  border: black solid 2px;

}
.shipping {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  height: 150px;
  justify-content: center;
}
.shipping .na{
  margin-bottom: 7px;
  display: flex;
  flex-direction: column;

}
.na b{
  margin-bottom: 10px;
}
.me p{
  margin-bottom: 0px;
  font-size: 15px;
}
.na span{
  font-size: 15px;
}
.me a{
  color: #262626;
  font-size: 15px;
}
.available{
  color: grey;
  font-size: 14px;
}
