<dialog #filldialog class="filldialog">
<form [formGroup]="form" >

  <div class="fill"><b> Fill Infomation </b></div>
  <div class="upnavbar01">
    <div class="nameandprice">
      <div class="name">
        <label>Name:  </label>
        <input type="text"   placeholder="enter name"
               formControlName="name"/>
      </div>
      <div class="price"> <label>Price:  </label>
        <input type="number"  placeholder="enter price"
               formControlName="price"/>
      </div>
    </div>
    <div class="desandqua">
      <div class="description">

        <label>Description:  </label>

        <input type="text"  placeholder="enter description"
               formControlName="description"/>
      </div>

      <div class="quality"><label >quanity:  </label>

        <input type="number"  placeholder="enter stock"
               formControlName="stock"/>
      </div>
    </div>
    <div class="linknavbar" >
      <label>link-Image:</label>
      <input type="text" placeholder="enter image"
             formControlName="image"/>
    </div>
    <div class="click">
      <button type="submit" (click)="submit()"><b>Submit</b></button>
      <button type="close" (click)="closeDialog()"><b>close</b></button>
    </div>
  </div>
</form>
</dialog>
<div class="productList">
  <div class="col">
    <div class="infomation">
      <div class="namecol"><b> Name</b></div>
      <div class="pricecol"><b> Price</b></div>
      <div class="descriptcol"><b> Description</b></div>
      <div class="quantitycol"><b> Quantity</b></div>

<!--      <div class="stockcol"> Stock</div>-->
      <div class="imagecol"><b> Image</b></div>
<button (click)="openDialog()" class="pluscol"><b><i class="fa-solid fa-plus"></i></b></button>
    </div>
    @for (item of this.productService.listItem;track item.id){

      <div class="card" >
        <div class="card-block">
          <p style="width: 100px; display: flex; justify-content: start" class="cardName">{{item.name}}</p>
          <p class="cardPrice">{{item.price}}</p>
          <p class="cardDes">{{item.description}}</p>
          <p class="cardQuality">{{item.quality}}</p>
<!--          <p class="card-title">{{item.stock}}</p>-->

        </div>
        <img class="card-img-top"
             src="{{item.image}}"
             alt="Card image cap">
        <div class="upAndDe">
          <div class="Update" (click)="openCartDialog(item)"><i class="fa-solid fa-pen-to-square"></i></div>

          <div class="delete" (click)="deleteProduct(item)"><i class="fa-solid fa-trash"></i></div>
        </div>
      </div>
    }
  </div>

</div>
<dialog #dialogUpdate class="updateToList">
  <form [formGroup]="updateForm" >
    <div class="fill"><b> Fill Infomation </b></div>
    <div class="upnavbar01">
      <div class="nameandprice">
      <div class="name">
      <label>Name:  </label>
      <input type="text"   placeholder="enter name"
             formControlName="name"/>
      </div>
      <div class="price"> <label>Price:  </label>
        <input type="number"  placeholder="enter price"
               formControlName="price"/>
      </div>
      </div>
      <div class="desandqua">
      <div class="description">

      <label>Description:  </label>

      <input type="text"  placeholder="enter description"
             formControlName="description"/>
      </div>

      <div class="quality"><label >quanity:  </label>

        <input type="number"  placeholder="enter stock"
               formControlName="stock"/>
      </div>
      </div>
      <div class="linknavbar" >
        <label>link-Image:</label>
        <input type="text" placeholder="enter image"
               formControlName="image"/>
      </div>
        <div class="click">
          <button  (click)="updateSubmit()"><b>Summbit</b></button>
          <button (click)="closeCartDialog()"><b>Close</b></button>
        </div>
    </div>
  </form>
</dialog>
